# Ignore all files without extensions (no dot in filename)
*

# But do not ignore directories
!*/

# But do not ignore files with extensions
!*.*

# Ignore all .json files (overrides the above for .json)
*.json

# Specific ignores
NOTE.md
issues.md
callgraph.png
utils/func-call-analyzer/*.png
utils/func-call-analyzer/*.dot